<div class="container">
  <h2 class="section-title">Últimas noticias del Mundo de Rol</h2>

  @if (posts.length > 0) { @for (post of paginatedPosts; track post.id) {
  <!-- link que abre nueva pestaña -->
  <a [routerLink]="['/noticias', post.id]" class="news-card-link">
    <div class="news-card card">
      <!-- 0) BOTÓN DE ELIMINAR (solo InternalNews) -->
      @if (isInternalNews(post) && isAdmin) {
      <button
        class="delete-button"
        (click)="onDeletePost(post.id)"
        title="Eliminar noticia"
      >
        Eliminar noticia
      </button>
      }

      <!-- 1) TÍTULO -->
      <h3 class="news-title">{{ post.title }}</h3>

      <!-- 2) AUTOR – FECHA -->
      {{ post.author }} – {{ post.created_at | date : "longDate" }}

      <!-- 3) IMAGEN -->
      <div class="news-content">
        @if (isInternalNews(post) && post.image_path) {
        <img
          [src]="'http://localhost:3000' + post.image_path"
          alt="{{ post.title }}"
          class="news-image"
        />
        }

        <!-- 4) BREVE DESCRIPCIÓN -->
        <div class="news-excerpt">
          <p>
            {{
              post.summary && post.summary.length > 100
                ? post.summary.slice(0, 100) + "…"
                : post.summary
            }}
          </p>
        </div>
      </div>
    </div>
  </a>

  }

  <!-- CONTROLES DE PAGINACIÓN -->
  <div class="pagination-controls">
    <button
      (click)="currentPage = currentPage - 1"
      [disabled]="currentPage === 1"
    >
      Anterior
    </button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button
      (click)="currentPage = currentPage + 1"
      [disabled]="currentPage === totalPages"
    >
      Siguiente
    </button>
  </div>
  } @else {
  <p>Cargando noticias...</p>
  }
</div>
