@if(!isSessionRoute()){
  <header class="header-container">
    <div class="main-logo-wrapper">
        <a routerLink="/">
          <img src="assets/img/logo.png" alt="Rolverse Logo" class="main-logo" />
        </a>
    </div>

    <div class="center-wrapper">
      <nav class="logo-nav">

        <div class="logo-wrapper">
          <img src="assets/img/d&d.png" alt="D&D" class="game-logo" />
          <span class="tooltip-text">D&D</span>
        </div>

        <div class="logo-wrapper">
          <img src="assets/img/pathfinder.png" alt="Pathfinder" class="game-logo" />
          <span class="tooltip-text">Pathfinder</span>
        </div>

        <div class="logo-wrapper">
          <img src="assets/img/anima.png" alt="Anima" class="game-logo" />
          <span class="tooltip-text">Anima</span>
        </div>

        <div class="logo-wrapper">
          <img src="assets/img/warhammer.png" alt="Warhammer" class="game-logo" />
          <span class="tooltip-text">Warhammer</span>
        </div>

        <div class="logo-wrapper">
          <img src="assets/img/cthulu.png" alt="Cthulhu" class="game-logo" />
          <span class="tooltip-text">Cthulhu</span>
        </div>

        <div class="logo-wrapper">
          <img src="assets/img/5 anillos.png" alt="Leyenda de los 5 Anillos" class="game-logo" />
          <span class="tooltip-text">La Leyenda de los 5 Anillos</span>
        </div>

        <div class="logo-wrapper">
          <img src="assets/img/masks.png" alt="Masks" class="game-logo" />
          <span class="tooltip-text">Masks</span>
        </div>

        <div class="logo-wrapper">
          <img src="assets/img/starwars.png" alt="Star Wars" class="game-logo" />
          <span class="tooltip-text">Star Wars</span>
        </div>

      </nav>
    </div>

    <div class="login-button-wrapper">
      @if (isLoggedIn()) {
        <button class="rpg-login-button" (click)="logout()">
          ⚔️ Cerrar Sesión
        </button>
      }
      @else{
        <button class="rpg-login-button" routerLink="/login">
          🛡️ Iniciar Sesión
        </button>
      }
    </div>
  </header>
}


