<div class="dungeon-bg">
  <h2 class="section-title">Personajes</h2>

  <div class="grid-container">
    @for (img of images; track img) {
    <div class="thumb-container">
      <img
        [src]="img"
        alt="Dungeon character"
        class="thumb"
        (click)="openModal(img)"
      />
      <a [href]="img" [download]="getFileName(img)" class="download-button">
        Descargar Personaje
      </a>
    </div>
    } @if (selectedImg) {
    <div class="overlay" (click)="closeModal()">
      <img
        [src]="selectedImg"
        alt="Ampliada"
        class="modal-img"
        (click)="$event.stopPropagation()"
      />
    </div>
    }
  </div>
  <div class="pdf-download-wrapper">
    <a
      href="assets/img/personajes dungeon/hoja de personaje.pdf"
      download="hoja-de-personaje.pdf"
      class="pdf-download-button"
    >
      Descargar Hoja de Personaje D&D 5e
    </a>
  </div>
</div>
